
{{#with this as |ts|}}
  <details>
    <summary>
      <code>
        {{renderSymbol ts.result}}
      </code>
      <b>
        {{renderScenarioTitle ts}}
      </b>
    </summary>
    <br />
    <ul>
      <li>
        Duration:
        {{renderDuration ts.startTime ts.endTime}}
      </li>
      <li>
        Swagger Files
        <ul>
          {{#each ts.swaggerFilePaths}}
            <li>
              <a href="{{renderPlain this}}">
                {{renderPlain this}}
              </a>
            </li>
          {{/each}}
        </ul>
      </li>
      <li>
        Run Id: {{renderPlain ts.runId}}
      </li>
    </ul>
    <b>
      &nbsp;&nbsp;&nbsp;&nbsp;API Test Steps:
    </b>
    <ol>
{{#each ts.steps}}
  {{#with this as |s|}}
<li>
  <code>
        {{renderSymbol s.result}}
  </code>
<b>
        {{renderStepTitle s}}
</b>
</li>
<ul>
  <li>
      Duration:
      {{renderDuration s.startTime s.endTime}}
    </li>
    <li>
      Example:
      <a href="">
        {{renderPlain s.exampleFilePath}}
      </a>
    </li>
    <li>
      Correlation Id:
      {{renderPlain s.correlationId}}
    </li>
  </ul>

{{#if (shouldReportError s)}}
|{{renderWhitespace 27}}Rule{{renderWhitespace 27}}| Message |
|------|---------|
{{/if}}
            {{#each s.runtimeError}}
              {{#with this as |re|}}
| <code> {{renderSymbol "fatal"}} </code> {{renderFatalErrorCode re}} | {{renderFatalErrorDetail re}} |
              {{/with}}
            {{/each}}
            {{#each s.responseDiffResult}}
            {{#with this as |rd|}}
| <code> {{renderSymbol "failed"}} </code> {{renderDiffErrorCode rd}} | {{renderDiffErrorDetail rd}} |
              {{/with}}
            {{/each}}
          {{/with}}
<br />
{{/each}}

</ol>
</details>
{{/with}}